<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN
" "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
  <servlet>
    <servlet-name>MPF</servlet-name>
    <display-name>RIVM Molecular Platform</display-name>
    <description>RIVM Molecular Platform</description>
    <servlet-class>nl.rivm.mpf.ui.main.MpfMain</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>MPF</servlet-name>
    <url-pattern>/MPF/*</url-pattern>
  </servlet-mapping>
</web-app>

