<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN
" "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
   <servlet>
    <servlet-name>AdminMain</servlet-name>
    <servlet-class>rega.genotype.ui.admin.AdminMain</servlet-class>
   </servlet>

  <servlet-mapping>
    <servlet-name>ToolRepoService</servlet-name>
    <url-pattern>/repo-service/*</url-pattern>
  </servlet-mapping>

   <servlet>
    <servlet-name>ToolRepoService</servlet-name>
    <servlet-class>rega.genotype.service.ToolRepoService</servlet-class>
   </servlet>

  <servlet-mapping>
    <servlet-name>AdminMain</servlet-name>
    <url-pattern>/admin/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GenotypeHIV</servlet-name>
    <display-name>HIV Genotyping</display-name>
    <description>HIV Genotyping</description>
    <servlet-class>rega.genotype.ui.viruses.hiv.HivMain</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>GenotypeHIV</servlet-name>
    <url-pattern>/hiv/typingtool/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>FileServlet</servlet-name>
    <servlet-class>rega.genotype.ui.util.FileServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
   </servlet>

  <servlet-mapping>
    <servlet-name>FileServlet</servlet-name>
    <url-pattern>/files</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GenotypeHIV-service</servlet-name>
    <display-name>HIV Genotyping service</display-name>
    <description>HIV Genotyping service</description>
    <servlet-class>rega.genotype.service.GenotypeService</servlet-class>
    <init-param>
    	<param-name>genotypeTool</param-name>
    	<param-value>rega.genotype.viruses.hiv.HIVTool</param-value>
   	</init-param>
    <init-param>
        <param-name>genotypeTool.table-generator</param-name>
        <param-value>rega.genotype.data.table.DefaultTableGenerator</param-value>
   </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>GenotypeHIV-service</servlet-name>
    <url-pattern>/hiv/typingservice</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>StanfordGenotypeHIV</servlet-name>
    <display-name>Stanford HIV Genotyping</display-name>
    <description>Stanford HIV Genotyping</description>
    <servlet-class>rega.genotype.ui.viruses.hiv.stanford.HivMain</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>StanfordGenotypeHIV</servlet-name>
    <url-pattern>/stanford-hiv/typingtool/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GenotypeNoV</servlet-name>
    <display-name>NoV Genotyping</display-name>
    <description>NoV Genotyping</description>
    <servlet-class>rega.genotype.ui.viruses.nov.NovMain</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>GenotypeNoV</servlet-name>
    <url-pattern>/norovirus/typingtool/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GenotypeNoV-service</servlet-name>
    <display-name>NoV Genotyping service</display-name>
    <description>NoV Genotyping service</description>
    <servlet-class>rega.genotype.service.GenotypeService</servlet-class>
    <init-param>
    	<param-name>genotypeTool</param-name>
    	<param-value>rega.genotype.viruses.nov.NoVTool</param-value>
   	</init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>GenotypeNoV-service</servlet-name>
    <url-pattern>/norovirus/typingservice</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GenotypeEntero</servlet-name>
    <display-name>Enterovirus Genotyping</display-name>
    <description>Enterovirus Genotyping</description>
    <servlet-class>rega.genotype.ui.viruses.etv.EtvMain</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>GenotypeEntero</servlet-name>
    <url-pattern>/enterovirus/typingtool/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GenotypeEntero-service</servlet-name>
    <display-name>Entero Genotyping service</display-name>
    <description>Entero Genotyping service</description>
    <servlet-class>rega.genotype.service.GenotypeService</servlet-class>
    <init-param>
    	<param-name>genotypeTool</param-name>
    	<param-value>rega.genotype.viruses.etv.EnteroTool</param-value>
   	</init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>GenotypeEntero-service</servlet-name>
    <url-pattern>/enterovirus/typingservice</url-pattern>
  </servlet-mapping>

  <!--  Generic Tools -->

  <servlet>
    <servlet-name>TypingTool</servlet-name>
    <servlet-class>rega.genotype.ui.viruses.generic.GenericMain</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>TypingTool</servlet-name>
    <url-pattern>/typingtool/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>TypingTool-service</servlet-name>
    <servlet-class>rega.genotype.service.GenotypeService</servlet-class>
    <init-param>
    	<param-name>genotypeTool</param-name>
    	<param-value>rega.genotype.viruses.generic.GenericTool</param-value>
   	</init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>TypingTool-service</servlet-name>
    <url-pattern>/typingservice/*</url-pattern>
  </servlet-mapping>
 
  <!--
  <servlet>
    <servlet-name>GenotypeSPN</servlet-name>
    <display-name>Spn Genotyping</display-name>
    <description>Streptococcus pneumoniae Genotyping</description>
    <servlet-class>rega.genotype.ui.viruses.generic.GenericMain</servlet-class>
    <init-param>
    	<param-name>Organism</param-name>
    	<param-value>SPN</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>GenotypeSPN</servlet-name>
    <url-pattern>/spn/cst/*</url-pattern>
  </servlet-mapping>

    <servlet>
    <servlet-name>GenotypeCHL</servlet-name>
    <servlet-class>rega.genotype.ui.viruses.generic.GenericMain</servlet-class>
    <init-param>
    	<param-name>Organism</param-name>
    	<param-value>CHL-PSI-OMPA</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>GenotypeCHL</servlet-name>
    <url-pattern>/chl-psi-ompa/typingtool/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GenotypePHYLO</servlet-name>
    <servlet-class>rega.genotype.ui.viruses.generic.GenericMain</servlet-class>
    <init-param>
    	<param-name>Organism</param-name>
    	<param-value>PHYLO</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>GenotypePHYLO</servlet-name>
    <url-pattern>/phylo/typingtool/*</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>GenotypeHPV2</servlet-name>
    <servlet-class>rega.genotype.ui.viruses.generic.GenericMain</servlet-class>
    <init-param>
    	<param-name>Organism</param-name>
    	<param-value>HPV2</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>GenotypeHPV2</servlet-name>
    <url-pattern>/hpv2/typingtool/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GenotypeHHV82</servlet-name>
    <servlet-class>rega.genotype.ui.viruses.generic.GenericMain</servlet-class>
    <init-param>
    	<param-name>Organism</param-name>
    	<param-value>HHV82</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>GenotypeHHV82</servlet-name>
    <url-pattern>/hhv82/typingtool/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Genotypehtlv</servlet-name>
    <servlet-class>rega.genotype.ui.viruses.generic.GenericMain</servlet-class>
    <init-param>
    	<param-name>Organism</param-name>
    	<param-value>HTLV</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>Genotypehtlv</servlet-name>
    <url-pattern>/htlv/typingtool/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Genotypehcv</servlet-name>
    <servlet-class>rega.genotype.ui.viruses.generic.GenericMain</servlet-class>
    <init-param>
    	<param-name>Organism</param-name>
    	<param-value>HCV</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>Genotypehcv</servlet-name>
    <url-pattern>/hcv/typingtool/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Genotypehcvrec</servlet-name>
    <servlet-class>rega.genotype.ui.viruses.generic.GenericMain</servlet-class>
    <init-param>
    	<param-name>Organism</param-name>
    	<param-value>HCVRec</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>Genotypehcvrec</servlet-name>
    <url-pattern>/hcvrec/typingtool/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Genotypedengue</servlet-name>
    <servlet-class>rega.genotype.ui.viruses.generic.GenericMain</servlet-class>
    <init-param>
    	<param-name>Organism</param-name>
    	<param-value>dengue</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>Genotypedengue</servlet-name>
    <url-pattern>/dengue/typingtool/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Genotypechikungunya</servlet-name>
    <servlet-class>rega.genotype.ui.viruses.generic.GenericMain</servlet-class>
    <init-param>
    	<param-name>Organism</param-name>
    	<param-value>chikungunya</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>Genotypechikungunya</servlet-name>
    <url-pattern>/chikungunya/typingtool/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Genotypezika</servlet-name>
    <servlet-class>rega.genotype.ui.viruses.generic.GenericMain</servlet-class>
    <init-param>
    	<param-name>Organism</param-name>
    	<param-value>zika</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>Genotypezika</servlet-name>
    <url-pattern>/zika/typingtool/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GenotypeAedesviruses</servlet-name>
    <servlet-class>rega.genotype.ui.viruses.generic.GenericMain</servlet-class>
    <init-param>
    	<param-name>Organism</param-name>
    	<param-value>Aedesviruses</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>GenotypeAedesviruses</servlet-name>
    <url-pattern>/aedesviruses/typingtool/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Genotypecorona</servlet-name>
    <servlet-class>rega.genotype.ui.viruses.generic.GenericMain</servlet-class>
    <init-param>
    	<param-name>Organism</param-name>
    	<param-value>corona</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>Genotypecorona</servlet-name>
    <url-pattern>/corona/typingtool/*</url-pattern>
  </servlet-mapping>
  -->
  
  <context-param>
    <param-name>baseWorkDir</param-name>
    <param-value>./base-work-dir/</param-value>
  </context-param>
</web-app>
