<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN
" "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
  <servlet>
    <servlet-name>GenotypeHIV</servlet-name>
    <display-name>HIV Genotyping</display-name>
    <description>HIV Genotyping</description>
    <servlet-class>rega.genotype.ui.viruses.hiv.HivMain</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>GenotypeHIV</servlet-name>
    <url-pattern>/hiv/typingtool/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GenotypeHIV-service</servlet-name>
    <display-name>HIV Genotyping service</display-name>
    <description>HIV Genotyping service</description>
    <servlet-class>rega.genotype.service.GenotypeService</servlet-class>
    <init-param>
    	<param-name>genotypeTool</param-name>
    	<param-value>rega.genotype.viruses.hiv.HIVTool</param-value>
   	</init-param>
    <init-param>
        <param-name>genotypeTool.table-generator</param-name>
        <param-value>rega.genotype.data.table.DefaultTableGenerator</param-value>
   </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>GenotypeHIV-service</servlet-name>
    <url-pattern>/hiv/typingservice</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>StanfordGenotypeHIV</servlet-name>
    <display-name>Stanford HIV Genotyping</display-name>
    <description>Stanford HIV Genotyping</description>
    <servlet-class>rega.genotype.ui.viruses.hiv.stanford.HivMain</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>StanfordGenotypeHIV</servlet-name>
    <url-pattern>/stanford-hiv/typingtool/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GenotypeNoV</servlet-name>
    <display-name>NoV Genotyping</display-name>
    <description>NoV Genotyping</description>
    <servlet-class>rega.genotype.ui.viruses.nov.NovMain</servlet-class>
    <init-param>
        <param-name>configFile</param-name>
        <param-value>etc/development-config.xml</param-value>
   </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>GenotypeNoV</servlet-name>
    <url-pattern>/norovirus/typingtool/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GenotypeNoV-service</servlet-name>
    <display-name>NoV Genotyping service</display-name>
    <description>NoV Genotyping service</description>
    <servlet-class>rega.genotype.service.GenotypeService</servlet-class>
    <init-param>
    	<param-name>genotypeTool</param-name>
    	<param-value>rega.genotype.viruses.nov.NoVTool</param-value>
   	</init-param>
    <init-param>
        <param-name>configFile</param-name>
        <param-value>etc/development-config.xml</param-value>
   </init-param>
   </servlet>

  <servlet-mapping>
    <servlet-name>GenotypeNoV-service</servlet-name>
    <url-pattern>/norovirus/typingservice</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GenotypeEntero</servlet-name>
    <display-name>Enterovirus Genotyping</display-name>
    <description>Enterovirus Genotyping</description>
    <servlet-class>rega.genotype.ui.viruses.etv.EtvMain</servlet-class>
    <init-param>
        <param-name>configFile</param-name>
        <param-value>etc/development-config.xml</param-value>
   </init-param>
   </servlet>

  <servlet-mapping>
    <servlet-name>GenotypeEntero</servlet-name>
    <url-pattern>/enterovirus/typingtool/*</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>GenotypeEntero-service</servlet-name>
    <display-name>Entero Genotyping service</display-name>
    <description>Entero Genotyping service</description>
    <servlet-class>rega.genotype.service.GenotypeService</servlet-class>
    <init-param>
    	<param-name>genotypeTool</param-name>
    	<param-value>rega.genotype.viruses.etv.EnteroTool</param-value>
   	</init-param>
     <init-param>
        <param-name>configFile</param-name>
        <param-value>etc/development-config.xml</param-value>
   </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>GenotypeEntero-service</servlet-name>
    <url-pattern>/enterovirus/typingservice</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GenotypeHAV</servlet-name>
    <display-name>HAV Genotyping</display-name>
    <description>HAV Genotyping</description>
    <servlet-class>rega.genotype.ui.viruses.generic.GenericMain</servlet-class>
    <init-param>
    	<param-name>Organism</param-name>
    	<param-value>HAV</param-value>
    </init-param>
    <init-param>
        <param-name>configFile</param-name>
        <param-value>etc/development-config.xml</param-value>
   </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>GenotypeHAV</servlet-name>
    <url-pattern>/hav/typingtool/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GenotypeHAV-service</servlet-name>
    <display-name>HAV Genotyping service</display-name>
    <description>HAV Genotyping service</description>
    <servlet-class>rega.genotype.service.GenotypeService</servlet-class>
    <init-param>
    	<param-name>genotypeTool</param-name>
    	<param-value>rega.genotype.viruses.generic.GenericTool</param-value>
   	</init-param>
    <init-param>
    	<param-name>Organism</param-name>
    	<param-value>HAV</param-value>
    </init-param>
    <init-param>
        <param-name>configFile</param-name>
        <param-value>etc/development-config.xml</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>GenotypeHAV-service</servlet-name>
    <url-pattern>/hav/typingservice</url-pattern>
  </servlet-mapping>

<!--
  <servlet>
    <servlet-name>GenotypeHTLV</servlet-name>
    <display-name>HTLV Genotyping</display-name>
    <description>HTLV Genotyping</description>
    <servlet-class>rega.genotype.ui.viruses.htlv.HtlvMain</servlet-class>
    <init-param>
        <param-name>configFile</param-name>
        <param-value>/etc/rega_genotype/global-conf.xml</param-value>
   </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>GenotypeHTLV</servlet-name>
    <url-pattern>/htlv/typingtool/*</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>GenotypePHYLO</servlet-name>
    <display-name>PHYLO Genotyping</display-name>
    <description>PHYLO Genotyping</description>
    <servlet-class>rega.genotype.ui.viruses.phylo.PhyloMain</servlet-class>
    <init-param>
        <param-name>configFile</param-name>
        <param-value>/etc/rega_genotype/global-conf.xml</param-value>
   </init-param>
   </servlet>

  <servlet-mapping>
    <servlet-name>GenotypePHYLO</servlet-name>
    <url-pattern>/GenotypePHYLO/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GenotypeHCV</servlet-name>
    <display-name>HCV Genotyping</display-name>
    <description>HCV Genotyping</description>
    <servlet-class>rega.genotype.ui.viruses.hcv.HcvMain</servlet-class>
    <init-param>
        <param-name>configFile</param-name>
        <param-value>/etc/rega_genotype/global-conf.xml</param-value>
   </init-param>
   </servlet>

  <servlet-mapping>
    <servlet-name>GenotypeHCV</servlet-name>
    <url-pattern>/hcv/typingtool/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GenotypeHBV</servlet-name>
    <display-name>HBV Genotyping</display-name>
    <description>HBV Genotyping</description>
    <servlet-class>rega.genotype.ui.viruses.hbv.HbvMain</servlet-class>
    <init-param>
        <param-name>configFile</param-name>
        <param-value>/etc/rega_genotype/global-conf.xml</param-value>
   </init-param>
   </servlet>

  <servlet-mapping>
    <servlet-name>GenotypeHBV</servlet-name>
    <url-pattern>/hbv/typingtool/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Giardia</servlet-name>
    <display-name>Giardia Genotyping</display-name>
    <description>Giardia Genotyping</description>
    <servlet-class>rega.genotype.ui.parasites.giardia.GiardiaMain</servlet-class>
    <init-param>
        <param-name>configFile</param-name>
        <param-value>/etc/rega_genotype/global-conf.xml</param-value>
   </init-param>
   </servlet>

  <servlet-mapping>
    <servlet-name>Giardia</servlet-name>
    <url-pattern>/giardia/typingtool/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Giardia-service</servlet-name>
    <display-name>Giardia Genotyping service</display-name>
    <description>Giardia Genotyping service</description>
    <servlet-class>rega.genotype.service.GenotypeService</servlet-class>
    <init-param>
    	<param-name>genotypeTool</param-name>
    	<param-value>rega.genotype.parasites.giardia.GiardiaTool</param-value>
   	</init-param>
    <init-param>
        <param-name>configFile</param-name>
        <param-value>/etc/rega_genotype/global-conf.xml</param-value>
   </init-param>
   </servlet>

  <servlet-mapping>
    <servlet-name>Giardia-service</servlet-name>
    <url-pattern>/giardia/typingservice</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>HHV8</servlet-name>
    <display-name>HHV8 Genotyping</display-name>
    <description>HHV8 Genotyping</description>
    <servlet-class>rega.genotype.ui.viruses.hhv8.Hhv8Main</servlet-class>
    <init-param>
        <param-name>configFile</param-name>
        <param-value>/etc/rega_genotype/global-conf.xml</param-value>
   </init-param>
   </servlet>

  <servlet-mapping>
    <servlet-name>HHV8</servlet-name>
    <url-pattern>/hhv8/typingtool/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GenotypeHPV</servlet-name>
    <display-name>HPV Genotyping</display-name>
    <description>HPV Genotyping</description>
    <servlet-class>rega.genotype.ui.viruses.hpv.HpvMain</servlet-class>
    <init-param>
        <param-name>configFile</param-name>
        <param-value>/etc/rega_genotype/global-conf.xml</param-value>
   </init-param>
   </servlet>

  <servlet-mapping>
    <servlet-name>GenotypeHPV</servlet-name>
    <url-pattern>/hpv/typingtool/*</url-pattern>
  </servlet-mapping>-->
  
  <servlet>
    <servlet-name>GenotypeSPN</servlet-name>
    <display-name>Spn Genotyping</display-name>
    <description>Streptococcus pneumoniae Genotyping</description>
    <servlet-class>rega.genotype.ui.viruses.generic.GenericMain</servlet-class>
    <init-param>
    	<param-name>Organism</param-name>
    	<param-value>SPN</param-value>
    </init-param>
    <init-param>
        <param-name>configFile</param-name>
        <param-value>etc/development-config.xml</param-value>
   </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>GenotypeSPN</servlet-name>
    <url-pattern>/spn/cst/*</url-pattern>
  </servlet-mapping>

    <servlet>
    <servlet-name>GenotypeCHL</servlet-name>
    <servlet-class>rega.genotype.ui.viruses.generic.GenericMain</servlet-class>
    <init-param>
    	<param-name>Organism</param-name>
    	<param-value>CHL-PSI-OMPA</param-value>
    </init-param>
    <init-param>
        <param-name>configFile</param-name>
        <param-value>etc/development-config.xml</param-value>
   </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>GenotypeCHL</servlet-name>
    <url-pattern>/chl-psi-ompa/typingtool/*</url-pattern>
  </servlet-mapping>
  
</web-app>
