
/* info field */

.querytoolform .infofield {
	padding: 0.5em !important;	
}



/* selection field */

.querytoolform .selectionfield {
	padding: 0.5em !important;	
}

.querytoolform .selectionfield .content .selectionitem {
	padding:0.1em;
	background-color: rgb(235, 235, 235);
	margin-top:0.4em;
	margin-bottom:0.4em;
	text-align:left;
	border:1px solid rgb(180, 180, 180);
}

.querytoolform .selectionfield .content .selectionitem .label {
	font-weight:bold;
}

.querytoolform .selectionfield .content .tableselectionitem div {
	background-color: rgb(255, 255, 255);
}

/* query tree */

.querytoolform .querytreefield .content .treeroot {
	margin-left:0.5em;
	margin-bottom:1em;
}

.querytoolform .querytreefield .statusbar .runbutton {
	width:6em !important;
	text-align:right !important;
}

.querytoolform .querytreefield .content .tree .treeitempanel {
	float:right;
	text-align:right !important;
}

.querytoolform .querytreefield .content .tree input.check{
	float:right;
	display:block;
	margin-top:0.5em;
}

.querytoolform .tree .disabledtreenodecontent {
	display: none;
}

.querytoolform .tree .treenodecontent {
	display: block;
	display:table;
}

.querytoolform .tree .treenodecontent .labelcontent {
	width:100%;
}

.querytoolform .tree .treenodecontent td.checkbox {
		width:1.5em;
		vertical-align:middle;
		margin:0px;
}

.querytoolform .querytreefield .content .tree .treenodelabel{
	display:block;
	float:left;
	line-height:1.5em;
	padding-left:0.3em;
}

.querytoolform .querytreefield .content .tree .treenodechildcount{
	display:block;
	float:left;
	font-weight:bold;
	line-height:1.5em;
}

.querytoolform .querytreefield .content .tree .atomictreenode {
	width:100%;
	border-top: 1px solid rgb(235,235,235);
	padding:0.05em 0em 0.05em 0m;
}

.atomictreenode .treenodecontent .buttonpanel {
	width:3.75em;	
}

.composedtreenode .treenodecontent .buttonpanel {
	width:15em;	
}

.querytoolform .querytreefield .content .tree .composedtreenode {
	width:100%;
	padding:0.1em 0em 0.1em 0em;
	background-color: rgb(235, 235, 235);
	vertical-align:bottom;
}

.querytoolform .querytreefield .content .tree .selectedclause {
	background-color:rgb(225,230,245);
}

.querytoolform .querytreefield .content .tree .invalidclause {
	color:#ee0000;
}

.querytoolform .querytreefield .content .tree .invalidclause .dialog {
	color:#000000;
}

.querytoolform .querytreefield .content .tree .composedtreenode .treenodelabel{
	font-weight:bold;
}


/* results */

.querytoolform .resultfield .runresults label {
	font-weight:bold;
}

.querytoolform .resultfield .runresults .runresult table td{
	padding:0.2em 0px;
	line-height:1.5em;
}

.querytoolform .resultfield .runresults .runresult table .resultNumber {
	width:2em;	
}

.querytoolform .resultfield .runresults .runresult table .resultCancel{
	width:6em;
	text-align:right !important;	
}

.querytoolform .resultfield .runresults .runresult .label {
	font-weight: bold;
	display:block;
	width: 3em;
	text-align:right;
	padding-right:0.2em;
}

.querytoolform .resultfield .runresult {
	padding:0.5em 0px;
}








/* selector panels */

.newclausedialog .dialogcontent {
	padding:0px !important;	
}

.querytoolform .selectorpanel .tabmenu {
	background-color:rgb(180,180,180);
}

.querytoolform .selectorpanel .tabmenu .itemselected span {
	font-weight:normal !important;	
}

.querytoolform .selectorpanel {
	margin:0.5em 0.25em;
}

.querytoolform .selectortabbedpane {
	margin:0px 0px 0.5em;	
}

.querytoolform .selectortab {
	margin:0.2em 0px 0px;
}

.querytoolform .selectorradio {
	margin:0.3em 1em 0.1em 0.5em;	
}

.querytoolform .selectortab .selectorpanel {
	padding: 0.4em 0.5em;	
	margin: 0px;
}
.querytoolform .selectortab .even {
	background-color:rgb(225,225,225);	
}

/* configurers */

.querytoolform .constantconfigurer, .querytoolform .constantchoiceconfigurer,
	 .querytoolform .inputvariableconfigurer, .querytoolform .composedoutputvariableconfigurer,
	 .querytoolform .fixedstringconfigurer, .querytoolform .outputvariableconfigurer,
	 .querytoolform .fromvariableconfigurer {
	 margin:0em 0.3em 0em 0em;
	padding:0.1em 0px;

}

.editorpanel input, .editorpanel select, .editorpanel button {
	margin-top:0.1em !important;
	margin-bottom:0.1em !important;
	padding:0px !important;
}

.editorpanel span {
}

.querytoolform .constantconfigurer {
	width:10em;
}

.querytoolform .constantchoiceconfigurer {
	max-width:20em;
}





/* toolbars */

.toolbar {
	padding-left:0.2em;
	background-color:rgb(225,225,225);
	border-bottom:1px solid rgb(140,140,140);
	margin-top:-1px;
}




/* trivia */

.querytoolform .warning {
	color: #555;
	line-height:1.4em;
}

.querytoolform .info {
	color: #00bb00;
	line-height:1.4em;
}

.querytoolform .error {
	color: #ee0000;
	line-height:1.4em;
}
