{
	"generalConfig": 
	{
		xmlBasePath:"/home/michael/projects/rega-genotype-extenal/xml/",
		paupCmd: "/opt/software/rega-genotype/bin/paup4b10-x86-linux",
		clustalWCmd: "/opt/software/rega-genotype/bin/clustalw",
		blastPath: "/usr/bin/",
		treePuzzleCmd: "puzzle",
		treeGraphCmd: "/opt/software/rega-genotype/bin/tgf",
		epsToPdfCmd: "?",
		inkscapeCmd: "?",
		imageMagickConvertCmd: "convert",
		maxAllowedSeqs: "20000"
	}
	,
	"tools":
	[
	  {
	    name: "enterovirus Typing Tool",
	    toolId: "enterovirus",
	    path: "enterovirus",
	    version: "1.1",
	    configuration: "/home/michael/projects/rega-genotype-extenal/xml/ETV/",
			jobDir: "/home/michael/projects/rega-genotype-extenal/job/",
	    auto-update: "true"
	    
	  },
	  
	  {
	    name: "etv Typing Tool",
	    toolId: "etv",
	    path: "etv",
	    version: "1.1",
	    configuration: "/home/michael/projects/rega-genotype-extenal/xml/ETV-generic/",
			jobDir: "/home/michael/projects/rega-genotype-extenal/job/",
	    auto-update: "true"
	    
	  },

	  {
	    name: "norovirus Typing Tool",
	    toolId: "norovirus",
	    path: "norovirus",
	    version: "1.1",
	    configuration: "/home/michael/projects/rega-genotype-extenal/xml/NoV/",
			jobDir: "/home/michael/projects/rega-genotype-extenal/job/",
	    auto-update: "true"
	  },

	  {
	    name: "hiv Typing Tool",
	    toolId: "hiv",
	    path: "hiv",
	    version: "1.1",
	    configuration: "/home/michael/projects/rega-genotype-extenal/xml/HIV/",
			jobDir: "/home/michael/projects/rega-genotype-extenal/job/",
	    auto-update: "true"
	  },

	  {
	    name: "SPN Typing Tool",
	    toolId: "spn",
	    path: "spn",
	    version: "1.1",
	    configuration: "/home/michael/projects/rega-genotype-extenal/xml/SPN/",
			jobDir: "/home/michael/projects/rega-genotype-extenal/job/",
	    auto-update: "true"
	  },
	
	  {
	    name: "CHL-PSI-OMPA Typing Tool",
	    toolId: "chl-psi-ompa",
	    path: "chl-psi-ompa",
	    version: "1.1",
	    configuration: "/home/michael/projects/rega-genotype-extenal/xml/CHL-PSI-OMPA/",
			jobDir: "/home/michael/projects/rega-genotype-extenal/job/",
	    auto-update: "true"
	  },
	
	  {
	    name: "PHYLO Typing Tool",
	    toolId: "phylo",
	    path: "phylo",
	    version: "1.1",
	    configuration: "/home/michael/projects/rega-genotype-extenal/xml/PHYLO/",
			jobDir: "/home/michael/projects/rega-genotype-extenal/job/",
	    auto-update: "true"
	  },
	
	  {
	    name: "HPV2 Typing Tool",
	    toolId: "hpv2",
	    path: "hpv2",
	    version: "1.1",
	    configuration: "/home/michael/projects/rega-genotype-extenal/xml/HPV2/",
			jobDir: "/home/michael/projects/rega-genotype-extenal/job/",
	    auto-update: "true"
	  },
	
	  {
	    name: "HPV82 Typing Tool",
	    toolId: "hpv82",
	    path: "hpv82",
	    version: "1.1",
	    configuration: "/home/michael/projects/rega-genotype-extenal/xml/HPV82/",
			jobDir: "/home/michael/projects/rega-genotype-extenal/job/",
	    auto-update: "true"
	  },
	
	  {
	    name: "HCV Typing Tool",
	    toolId: "hcv",
	    path: "hcv",
	    version: "1.1",
	    configuration: "/home/michael/projects/rega-genotype-extenal/xml/HCV/",
			jobDir: "/home/michael/projects/rega-genotype-extenal/job/",
	    auto-update: "true"
	  },

	  {
	    name: "HCV2 Typing Tool",
	    toolId: "hcv2",
	    path: "hcv2",
	    version: "1.1",
	    configuration: "/home/michael/projects/rega-genotype-extenal/xml/HCV2/",
			jobDir: "/home/michael/projects/rega-genotype-extenal/job/",
	    auto-update: "true"
	  },
	
	  {
	    name: "htlv12 Typing Tool",
	    toolId: "htlv12",
	    path: "htlv12",
	    version: "1.1",
	    configuration: "/home/michael/projects/rega-genotype-extenal/xml/HTLV12/",
			jobDir: "/home/michael/projects/rega-genotype-extenal/job/",
	    auto-update: "true"
	  },
	
	  {
	    name: "dengue Typing Tool",
	    toolId: "dengue",
	    path: "dengue",
	    version: "1.1",
	    configuration: "/home/michael/projects/rega-genotype-extenal/xml/dengue/",
			jobDir: "/home/michael/projects/rega-genotype-extenal/job/",
	    auto-update: "true"
	  },
	
	  {
	    name: "corona Typing Tool",
	    toolId: "corona",
	    path: "corona",
	    version: "1.1",
	    configuration: "/home/michael/projects/rega-genotype-extenal/xml/corona/",
			jobDir: "/home/michael/projects/rega-genotype-extenal/job/",
	    auto-update: "true"
	  },
	
	  {
	    name: "HAV Typing Tool",
	    toolId: "HAV",
	    path: "HAV",
	    version: "1.1",
	    configuration: "/home/michael/projects/rega-genotype-extenal/xml/HAV/",
			jobDir: "/home/michael/projects/rega-genotype-extenal/job/",
	    auto-update: "true"
	  },
	
	  {
	    name: "Aedesviruses Typing Tool",
	    toolId: "Aedesviruses",
	    path: "Aedesviruses",
	    version: "1.1",
	    configuration: "/home/michael/projects/rega-genotype-extenal/xml/Aedesviruses/",
			jobDir: "/home/michael/projects/rega-genotype-extenal/job/",
	    auto-update: "true"
	  },
	
	  {
	    name: "chikungunya Typing Tool",
	    toolId: "chikungunya",
	    path: "chikungunya",
	    version: "1.1",
	    configuration: "/home/michael/projects/rega-genotype-extenal/xml/chikungunya/",
			jobDir: "/home/michael/projects/rega-genotype-extenal/job/",
	    auto-update: "true"
	  },
	
	  {
	    name: "zika Typing Tool",
	    toolId: "zika",
	    path: "zika",
	    version: "1.1",
	    configuration: "/home/michael/projects/rega-genotype-extenal/xml/zika/",
			jobDir: "/home/michael/projects/rega-genotype-extenal/job/",
	    auto-update: "true"
	  }
	]
}
