.masthead {
	padding:0;
	font-size: 0px; 
	background: url(http://hivdb.stanford.edu/images/hdr_masthead_border.gif) #900 repeat-x left bottom;
	width: 680px; 
	padding-top: 20px; 
	padding-bottom: 10px; 
}

.masthead img {
	margin: 0px;
	display:block;
}

.topnav {
	padding-right: 0px; 
	padding-left: 10px; 
	font-size: 0px; 
	background: url(http://hivdb.stanford.edu/images/hr_dotted_horiz.gif) repeat-x left bottom; 
	padding-bottom: 0px; 
	margin: 0px 0px 10px 0px; 
	line-height: 0; 
	padding-top: 0px; 
	height: 20px;
	width: 670px;
}

.topnav a {
	margin: 0px 20px 0px 0px;
}

.seqform-table  {
	table-layout: fixed;
	margin: 10px;
	background: rgb(144,0,0);
	width: 660px;
	border-collapse:collapse;
	border: 1px solid rgb(204,204,204);
}

.seqform-table tr {
	width: 660px;
}

.seqform-table tbody {
    background: rgb(238,238,238);
}

.seqform-table tr td h3 {
	font-size: 12pt;
	margin: 0;
	color: #000;
}

.seqform-table .textbox {
	width: 500px;
}

.seqform-table textarea
{
	width: 500px;
	border: 1px solid #CCC;
	height: 7em;
	margin: 3px 0 0 0;
}

.seqform-table .header img {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}

.seqform-table .label-img {
	padding-left: 5px;
	padding-right: 10px;
}

.seqform-table .gutter
{
	width:55px;
	background: none;
	border: 0;
	padding: 0;
}

.bodydiv {
	border:0;
	padding:0;
	font-size: 10pt; 
	margin: 0px; 
	color: #666;
	font-family: Arial,Helvetica,sans-serif; 
	border-right-width: 0px;
	width: 670px;
}

.bodydiv p {
	padding-left: 10px;
}

.bodydiv a:hover {
	color: #7c6b50; 
	text-decoration: underline
}

.bodydiv a:hover {
	color: #7c6b50; 
	text-decoration: underline
}

.bodydiv a:link {
	color: #7c6b50; 
	text-decoration: underline
}

.bodydiv a:visited {
	color: #7c6b50; 
	text-decoration: underline
}

.submain2 {
	color: #666;
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	padding-left: 10px;
}

.dotted
{
	width: 670px; 
	margin-top: 10px;
	margin-bottom: 0px;
	border-top: 2px dotted #ccc;
	margin-left: 10px;
	clear: both;
}

.botnav {
	margin: 10px;
	table-layout: fixed;
	width:660px;
}

.botnav-cell {
	border: #D3CFBA 1px solid;
	font-size: 9pt;
	background: #F1F0E9;
	text-align: left;
	width: 50%;
	padding: 5px;
}

.spacer {
	width:10px;
	border:0px;
	background:#fff;
}

.stanford-footer {
	border-top: #d4cfb4 1px solid; 
	font-size: 0.8em; 
	margin: 0px 0px 0px 10px; 
	width: 670px; 
	color: #999; 
	text-align: center;
}

.monitor img {
    vertical-align: middle;
}

.monitor input {
    vertical-align: middle;
}
