.admin-panel {
    margin-bottom: 10px;
}

.float-right {
    float: right;
}

.action-buttons-container {
	height: 30px;
}
.action-buttons {
	margin-top: 5px;
    float: right;
}

.form-table {
    width:100%;
}

.form-table-name-td { 
    width: 200px;
}

.form-error {
	color: red;
}

.header-fixed {
    height:auto;
    padding:5px 2px;
    text-align:left;
    top:0;
    position:fixed;
    right:0;
}