<genotyping-tool>
	<menu>
		<menu-item>
			<label>How to cite</label>
			<path>how-to-cite</path>
			<message-id>how-to-cite-doc</message-id>
		</menu-item>
		<menu-item>
			<label>Introduction</label>
			<path>introduction</path>
			<message-id>introduction-doc</message-id>
		</menu-item>
		<menu-item>
			<label>Protocol</label>
			<path>protocol</path>
			<message-id>protocol-doc</message-id>
		</menu-item>
		<menu-item>
			<label>How to use</label>
			<path>how-to-use</path>
			<message-id>how-to-use-doc</message-id>
		</menu-item>
		<menu-item>
			<label>Example sequences</label>
			<path>examples</path>
			<message-id>examples-doc</message-id>
		</menu-item>
	</menu>

	<genome>
		<color assignment="-">#53b808</color>
		<start>1</start>
		<end>506</end>
		<image-start>10</image-start>
		<image-end>595</image-end>
	</genome>	

	<result-list>
		<column>
			<label>Name</label>
			<field>/genotype_result/sequence/@name</field>
		</column>
		<column>
			<label>Length</label>
			<field>/genotype_result/sequence/@length</field>
		</column>
		<column>
			<label>Capsular Type(s)</label>
			<field>/genotype_result/sequence/conclusion/assigned/name</field>
		</column>
		<column>
			<label>Corresponding serotype(s)</label>
			<field>/genotype_result/sequence/conclusion/assigned/description</field>
		</column>
		<column>
			<label>Similarity</label>
			<field>/genotype_result/sequence/conclusion/assigned/score</field>
		</column>
		<column>
			<label>Report</label>
			<field>report-link</field>
		</column>
		<column>
			<label><i>Wzh</i> capsular gene</label>
			<field>genome</field>
		</column>
	</result-list>
	
	<result-download>
		<column>
			<label>name</label>
			<field>/genotype_result/sequence/@name</field>
		</column>
		<column>
			<label>length</label>
			<field>/genotype_result/sequence/@length</field>
		</column>
		<column>
			<label>wzh-start-pos</label>
			<field>/genotype_result/sequence/result[@id='blast']/start</field>
		</column>
		<column>
			<label>wzh-end-pos</label>
			<field>/genotype_result/sequence/result[@id='blast']/end</field>
		</column>
		<column>
			<label>capsular type(s)</label>
			<field>/genotype_result/sequence/conclusion/assigned/name</field>
		</column>
		<column>
			<label>corresponding serotype(s)</label>
			<field>/genotype_result/sequence/conclusion/assigned/description</field>
		</column>
		<column>
			<label>similarity</label>
			<field>/genotype_result/sequence/conclusion/assigned/score</field>
		</column>
	</result-download>

</genotyping-tool>