<genotyping-tool>

	<menu>
		<menu-item>
			<label>How to cite</label>
			<path>how-to-cite</path>
			<message-id>how-to-cite-doc</message-id>
		</menu-item>
		<menu-item>
			<label>Introduction</label>
			<path>introduction</path>
			<message-id>introduction-doc</message-id>
		</menu-item>
		<menu-item>
			<label>How to use</label>
			<path>how-to-use</path>
			<message-id>how-to-use-doc</message-id>
		</menu-item>
		<menu-item>
			<label>Example sequences</label>
			<path>examples</path>
			<message-id>examples-doc</message-id>
		</menu-item>
	</menu>

	<genome>
		<color assignment="-">#53b808</color>
		<start>80</start>
		<end>11000</end>
		<image-start>1</image-start>
		<image-end>605</image-end>
	</genome>	

	<result-download>
		<column>
			<label>name</label>
			<field>/genotype_result/sequence/@name</field>
		</column>
		<column>
			<label>length</label>
			<field>/genotype_result/sequence/@length</field>
		</column>
		<column>
			<label>begin</label>
			<field>/genotype_result/sequence/result[@id='blast']/start</field>
		</column>
		<column>
			<label>end</label>
			<field>/genotype_result/sequence/result[@id='blast']/end</field>
		</column>
		<column>
			<label>species</label>
			<field>/genotype_result/sequence/result[@id='blast']/cluster/concluded-name</field>
		</column>
		<column>
			<label>species-score</label>
			<field>/genotype_result/sequence/result[@id='blast']/cluster/score</field>
		</column>
		<column>
			<label>type</label>
			<field>/genotype_result/sequence/conclusion[@id='type']/assigned/name</field>
		</column>
		<column>
			<label>type support</label>
			<field>/genotype_result/sequence/conclusion[@id='type']/assigned/support</field>
		</column>
		<column>
			<label>subtype</label>
			<field>/genotype_result/sequence/conclusion[@id='subtype']/assigned/name</field>
		</column>
		<column>
			<label>subtype support</label>
			<field>/genotype_result/sequence/conclusion[@id='subtype']/assigned/support</field>
		</column>
	</result-download>

</genotyping-tool>